<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">learn javascript</a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navabar">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="#">learn</a></li>
                    <li><a target="_blank" href="#">Javascript</a></li>
                    <li><a target="_blank" href="#">Node</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="inportant" style="color:#cdbfe3; backgroun-color:#bf5499; padding:30px 0; margin:-20px 0 20px 20;">
        <div claa="container">
            <h1 style="="color:#fff; font-size:60px; >ÐÂÊÖ</h1>
            <p style="font-size:24px; line-height:48px">learn javascript,node.js,npm,koa2,nunjuck,babel,etc</p>
        </div>
    </div>
    {% block main %} {% endblock %}
    <footer style="background-color: #ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a target="_blank" href="#">web</a>
                <a target="_blank" href="#">github</a>
                <a target="_blank" href="#">weibo</a>
            </p>
            <p><a target="_blank" href="">Ô´Âë</a></p>
        </div>
    </footer>
</body>

</html>